.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

}

.menuLink {
    /* background-color: red; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;

    border-radius: 0.8rem;

    background: var(--primary);
    color: var(--text-over-primary);
    text-decoration: none;

    transition: all 0.1s ease-in-out;
}

.menuLink svg{
    width: 2.4rem;
    height: 2.4rem;
}

.menuLink:hover {
    filter: brightness(80%);
}