/* Definindo o "reset" da nossa página para podermos começar a aplicar modificações futuras */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.6rem; /* é igual a medida de 16px, no final é o mesmo valor porem com ponto antes */
    background: var(--gray-900);
    color: var(--text-default);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    align-items: center;
    justify-content: center;

}

.formRow {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    align-items: center;
    justify-content: center; 
}